%script
  var correlation = #{@correlation.map{|k,a| [k, a[:average]]}.to_json.html_safe}
  $(document).ready(function() { rssRrCorrelation(correlation) })

%div{:style => 'width:400px;height:250px;', :id => 'rss_r_correlation'}
  &nbsp;

%pre
  = @correlation.values.map{|a| a[:average]}
%pre
  = @correlation.to_yaml