/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h2 {
    margin-top: 40px;
}

.map {
    width:650px;
    height:650px;
}
.pointer {
    cursor:pointer;
}
.hidden {
    display:none;
}
#pdf_div {
    cursor:pointer;
}
table.bordered {
    width:100%;
    border:1px solid black;
}
table.bordered tr th, table.bordered tr td {
    border:1px solid black;
}

.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}

td {
    vertical-align: top;
}

#show_tag_mi {
    font: 10pt sans-serif;
}
table#table_mi td {
    border-left:solid 20px transparent;
}
table#table_mi td:first-child {
    border-left:0;
}